# Lab_Not_hot_songs

In [3]:
from bs4 import BeautifulSoup
import pandas as pd 
import numpy as np
import requests

In [4]:
nothot100 = pd.read_csv("../data/raw_data/spotify_millsongdata.csv")

In [5]:
nothot100.head()

,artist,song,link,text
0,ABBA,Ahe's My Kind Of Girl,/a/abba/ahes+my+kind+of+girl_20598417.html,"Look at her face, it's a wonderful face \r\nA..."
1,ABBA,"Andante, Andante",/a/abba/andante+andante_20002708.html,"Take it easy with me, please \r\nTouch me gen..."
2,ABBA,As Good As New,/a/abba/as+good+as+new_20003033.html,I'll never know why I had to go \r\nWhy I had...
3,ABBA,Bang,/a/abba/bang_20598415.html,Making somebody happy is a question of give an...
4,ABBA,Bang-A-Boomerang,/a/abba/bang+a+boomerang_20002668.html,Making somebody happy is a question of give an...

In [6]:
nothot100.shape

(57650, 4)

In [7]:
nothot100 = nothot100[["artist","song"]]
nothot100.head()

  artist                   song
0   ABBA  Ahe's My Kind Of Girl
1   ABBA       Andante, Andante
2   ABBA         As Good As New
3   ABBA                   Bang
4   ABBA       Bang-A-Boomerang

In [8]:
nothot100 = nothot100.rename(columns={'artist': 'Artist', 'song': 'Title'})
nothot100.head()

  Artist                  Title
0   ABBA  Ahe's My Kind Of Girl
1   ABBA       Andante, Andante
2   ABBA         As Good As New
3   ABBA                   Bang
4   ABBA       Bang-A-Boomerang

In [9]:
nothot100.to_csv('../data/nothot100.csv', index=False)