# Lab_Not_hot_songs

In [1]:
from bs4 import BeautifulSoup
import pandas as pd 
import numpy as np
import requests

In [2]:
nothot100 = pd.read_csv("../data/Spotify_final_dataset.csv")

In [3]:
nothot100.head()

,Position,Artist Name,Song Name,Days,Top 10 (xTimes),Peak Position,Peak Position (xTimes),Peak Streams,Total Streams
0,1,Post Malone,Sunflower SpiderMan: Into the SpiderVerse,1506,302.0,1,(x29),2118242,883369738
1,2,Juice WRLD,Lucid Dreams,1673,178.0,1,(x20),2127668,864832399
2,3,Lil Uzi Vert,XO TOUR Llif3,1853,212.0,1,(x4),1660502,781153024
3,4,J. Cole,No Role Modelz,2547,6.0,7,0,659366,734857487
4,5,Post Malone,rockstar,1223,186.0,1,(x124),2905678,718865961

In [4]:
nothot100 = nothot100.sample(5000)

In [5]:
nothot100 = nothot100[["Artist Name","Song Name"]]
nothot100.head()

             Artist Name           Song Name
3694  Twenty One Pilots                Morph
3540        Young Dolph              1 Scale
7427         Chad Focus     Get to the Money
5289         Ed Sheeran                2step
2447        Demi Lovato   Met Him Last Night

In [6]:
nothot100 = nothot100.rename(columns={'Artist Name': 'Artist', 'Song Name': 'Title'})
nothot100.head()

                  Artist               Title
3694  Twenty One Pilots                Morph
3540        Young Dolph              1 Scale
7427         Chad Focus     Get to the Money
5289         Ed Sheeran                2step
2447        Demi Lovato   Met Him Last Night

In [7]:
nothot100.to_csv('../data/nothot100.csv', index=False)